main {
    margin: 0 auto;
    width: 80%;

}

.grid {
    display: inline-grid;
    width: 100%;
    grid-gap: 10px;
}

nav {
    grid-row-start: 1;
    grid-row-end: 1;
}

section {
    grid-row-start: 2;
    grid-row-end: 2;
}

li {
    display: inline-block;
    list-style-type: none;
}

#catImg {
    width: 600px;
    cursor: pointer
}

.displayImg {
    width: 600px;
}
